node_modules/
__pycache__/
*.pyc
.env
.venv/
venv/
.DS_Store
dist/
build/
*.pyo
*.pyd
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
